body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.wrapper {
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

/* 共通部分 */
p {
  margin: 0;
  line-height: 1.9;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  padding: 0 20px;
  margin: 0 auto;
}

/* ヘッダー周り */
header {
  width: 100%;
  height: 90px;
  position: fixed;
  background: #555;
  top: 0;
  left: 0;
  margin-bottom: 40px;
}

.header-icon img {
  position: absolute;
  top: 25px;
  left: 30px;
  width: 150px;
}

#cover {
  background: #000;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}


#show, #hide {
  cursor: pointer;
  color: #fff;

}

.bar, .hide {
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
}

#menu {
  position: absolute;
  top: 0;
  right: -200px;
  color: #fff;
  background: #4c81e9;
  padding: 8px;
  box-sizing: border-box;
  width: 200px;
  min-height: 100%;
  z-index: 2;
  transition: 0.4s;
}

#menu li {
  list-style: none;
  padding: 10px 0;
}

/* menuが表示されているときのスタイル */
body.menu-open {
  overflow-y: hidden;
}

body.menu-open #cover {
  display: block;
}

body.menu-open #menu {
  right: 0;
}


/* メインコンテンツ */
.title > h1 {
  font-weight: normal;
}

.about {
  padding-top: 70px;
}

.aboutContents {
  width: 100%;
  margin: 0px auto;
  padding: 25px 0;
  line-height: 1.6;
}

/* icon */
.pic {
  max-width: 50%;
  margin: 0 auto;
}

.aboutContents img {
  max-width: 60%;
  height: 140px;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding-bottom: 10px;
}

/* ポートフォリオ周り */
.works, .contact {
  background: #f2f2f3;
  padding: 20px 0;
}

.workContents {
  width: 90%;
  margin: 0 auto;
}

.workContents h3 {
  font-weight: normal;
}

.work {
  padding-bottom: 30px;
}

.work img {
  width: 90%;
}

.content2 img {
  padding-bottom: 15px;
}




/* スキル説明 */
.skillContents {
  padding: 20px 0;
}
.skillContents h3 {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.skillContents .pic img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.skillContents p {
  text-align: center;
}

#vscode {
  width: 30%;
  padding: 5px 0;
}

.contents {
  margin: 0 auto;
}

.contents p {
  text-align: center;
}


/* コンタクト部分 */
.fab {
  font-size: 2em;
}

.contactContents p {
  text-align: center;
}

.contactContents a {
  color: #000;
}

.contactContents .pic {
  padding: 10px 0;
}

footer {
  text-align: center;
  padding: 10px 0;
}

/* PCサイズ */
@media (min-width:800px) {
  /* Homeに画像を置くか否か あったほうがいいけどどうしようかな */

  body {
    font-size: 16px;
  }

  .container {
    max-width: 1145px;
    margin: 0 auto;
  }

  header {
    width: 100%;
  }

  .header-contents {
    display: flex;
    justify-content: space-between;
  }

  .header-list ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
  }

  .header-list li {
    font-size: 20px;
  }

  .about {
    padding: 70px 0 0 0;
  }

  .aboutContents {
  display: flex;
  justify-content: center;
  }

  .pic {
    width: 40%;
  }

  .pic img {
    width: 500px;
    height: 60%;
  }

  .contents {
    width: 60%;
  }

  .work {
    display: flex;
    justify-content: space-between;
  }

  .image {
    width: 50%;
  }

  .info {
    width: 40%;
  }

  .pic span {
    margin-right: 10px;
  }

}

